li{
  list-style: none;
  padding-left: 30px;
  
}
button{
  /* border: none; */
  border-radius: 60px;
  
}
input[type='checkbox']:checked+.list{
  text-decoration: line-through;
}
.wrapper{
  margin-left: 450px;
  background-color: #5C8374;
  width: 300px;
  padding: 50px;
  color: white;
}

body{
   color: white;
}